# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist
/updater
/_config
/.idea
/node_modules
/test-images

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log
*.db

test-parse-blackbox.js

bun.exe